<form action="" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="{{editData.name}}"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="{{editData.lname}}"><br>
    Email:<br>
    <input type="email" name="email" value="{{editData.email}}"><br>
    Ph no.<br>
    <input type="text" name="phno" value="{{editData.phNo}}"><br><br>
    <input type="submit" value="Submit">
</form>