<form action="" method="post">
    <div class="container">
        <h1>Edit</h1>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" name="email" value="{{resu.email}}"> <br>

        <label for="psw"><b>Name</b></label>
        <input type="text" name="name" value="{{resu.name}}"> <br>

        <label for="psw-repeat"><b>district</b></label>
        <input type="text" name="district" value="{{resu.district}}"> <br>
        <hr>

        <button type="submit" class="registerbtn">Update</button>
    </div>

</form>
